version: "3.9"

services:
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"     # browser -> container (Vite)
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:3000  # ή http://backend:3000 αν το ζητήσετε από backend

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=courses

  db:
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_DB=courses
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  spark:
    build: ./pyspark
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=courses

volumes:
  db_data:
