services:
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    environment:
      # μέσα στα containers το backend λέγεται "backend"
      - VITE_API_URL=http://backend:3000
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/courses_db

  mongo:
    image: mongo:7
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db


  spark:
    build: ./pyspark
    depends_on:
      - mongo
    environment:
      # placeholder για αργότερα, όταν θα συνδέσουμε Spark με Mongo
      - MONGO_URI=mongodb://mongo:27017/courses_db

volumes:
  mongo_data:
