services:
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    environment:
      # μέσα στα containers το backend λέγεται "backend"
      - VITE_API_URL=http://backend:3000
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/courses_db

  mongo:
    image: mongo:7
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db


  spark:
    image: apache/spark:3.5.1
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/courses_db
    volumes:
      - ./pyspark:/opt/spark-app
      - ./pyspark/jars:/opt/spark/jars
    working_dir: /opt/spark-app
    command: ["sleep", "infinity"]

volumes:
  mongo_data:
