services:
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE_URL=http://localhost:3000
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/courses_db

  mongo:
    image: mongo:7
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db


  spark:
    build: ./pyspark
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/courses_db
    volumes:
      - ./pyspark:/opt/spark-app
      - spark_ivy:/opt/spark/ivy2
    working_dir: /opt/spark-app
    command: ["sleep", "infinity"]

volumes:
  mongo_data:
  spark_ivy:
  
